.custom-modal{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #0000004f;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-modal-content {
}